<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.mapper.UserMapper">
    <resultMap id="userMap" type="user">
        <id column="uid" property="uid"/>
        <result column="uname" property="uname"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>
        <!--
            配置集合
            property:集合名称
            ofType:当前集合中的数据类型
        -->
        <collection property="order" ofType="order">
            <id column="oid" property="oid"/>
            <result column="total" property="total"/>
            <result column="orderTime" property="orderTime"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="userMap">
        select *
        from user_mb u,
             order_mb o
        where u.uid = o.uid
    </select>

    <resultMap id="userRoleMap" type="user">
        <id column="uid" property="uid"/>
        <result column="uname" property="uname"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>

        <collection property="role" ofType="role">
            <id column="rid" property="rid"/>
            <result column="rolename" property="rolename"/>
        </collection>
    </resultMap>

    <select id="findUserRole" resultMap="userRoleMap">
        select *
        from user_mb u,
             role_mb r,
             user_role_mb ur
        where u.uid = ur.uid
          and r.rid = ur.rid
    </select>
</mapper>
